{% extends "auctions/layout.html" %} 

{% block body %}
<h2>
  {{ category }}
</h2>
<div class="container">
<div class="row">
{% if user.is_authenticated %} 
{% for listing in listings %}
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img src="{{ listing.image_url }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <p class="card-text"><strong>{% if listing.currentBid == None %}${{ listing.startingBid }}{% else %}${{ listing.currentBid }}{% endif %}</strong></p>
            <p class="card-text">{{ listing.description }}</p>
            <a href="{% url 'listing' listing.id %}" class="btn btn-outline-primary">View Listing</a>
          </div>
        </div>
      </div>
{% endfor %}
{% else %} 
  nothing to show
{% endif %} 
</div>
</div>
{% endblock %}